@import "tailwindcss";

@theme {
  --color-accent: #EBB01B;
}

body {
  margin: 0;
  background-color: #111111; 
  color: #d4d4d4;
  antialiased: true;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }
  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}